<!-- Aktuelles Section -->
<section class="py-5" id="aktuelles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Eröffnung an neuem Standort</h2>
                <p>Liebe Unverpackt-Fans, </p>
                <p>wegen unvorhersebarer Ereignisse mussten wir uns spontan einen neuen Standort suchen.</p>
                <p>Wir öffnen jetzt am 8. März im Hofladen Hanuschke, die uns netterweise spontan eine Möglichkeit geboten haben unsere Waren dort zu verkaufen.</p>
            </div>
        </div>
    </div>
</section>
