<!-- Aktuelles Section -->
<section class="py-5" id="aktuelles">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Eröffnung verschoben!</h2>
                <p>Liebe Unverpackt-Fans, </p>
                <p>wegen unvorhersebarer Ereignissen können wir die Rieselbar leider erstmal nicht eröffnen.</p>
                <p>Wir halten euch natürlich auf dem Laufenden, wie es weitergeht. Tragt euch gerne in den Newsletter ein, damit wir Euch sofort informieren können, sobald es Neuigkeiten zum aktuellen Stand gibt.</p>
            </div>
        </div>
    </div>
</section>
