<section class="page-section" id="{{ site.data.sitetext[page.locale].faq.section | default: "faq" }}">
    <div class="container" style="    margin-top: 10%;">
      <div class="row">
        <div class="col-lg-12">
            <h1 style="color: orange">Einladung</h1>
          <h1 style="padding: 10px">Zur Infoveranstaltung 2023 am 8. Februar um 20:00 Uhr </h1>
        </div>
      </div>
    </div>
    <div class="container" style="margin-bottom: 10px; text-align: center;">
      <p><a href="../../assets/other/2023-infoveranstaltung.ics">Termin in direkt in den Kalender eintragen</a></p>
      <p>Bei einem Umtrunk und kleinen Snacks möchten wir Euch, auf unsere bisherige Reise mitnehmen.</p>
      <p>Wir wollen auf unsere Meilensteile anstoßen, Euch zeigen, was bisher geschah, wo wir nun stehen und was in den nächsten Monaten geplant ist.</p>
      <p>Beim anschließenden Gedankenaustausch würden wir gerne näher auf Eure Wünsche und Ideen eingehen und noch all Eure offene Fragen beantworten.</p>
      <p>Ihr habt Freunde und Bekannte, die sich auch für einen Unverpackt Laden in Moosach interessieren? Bringt sie doch einfach mit!</p>
      <p>Wir müssen auf jeden Fall noch weiter wachsen um das Projekt zu verwirklichen.</p>
      <h2>Wir freuen uns auf Euch!</h2>
      <h2 style="color: orange">Das Rieselbar-Team</h1>

    </div>
  </section>
