<!-- Membership -->
<section
  class="page-section"
  id="{{ site.data.sitetext[page.locale].membership.section | default: 'membership' }}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" style="margin-top: 5%">
          {{ site.data.sitetext[page.locale].membership.title | markdownify }}
        </h2>
        <h3 class="large text-muted">
          {{ site.data.sitetext[page.locale].membership.getMember }}
        </h3>
        <div class="large text-muted container-left-align">
          <ol class="width-left-align">
          {% for step in site.data.sitetext[page.locale].membership.steps %}
            <li>
              {% if step.link %}
                <a href="/assets/other/{{page.locale}}/{{step.link}}">{{ step.title }}</a>
              {% else %}
                {{ step.title }}
              {% endif %}
            </li>
          {% endfor %}
          </ol>
        </div>

        <h2 class="section-heading text-uppercase" style="margin-top: 5%">
          {{ site.data.sitetext[page.locale].membership.cooperative.title |
          markdownify }}
        </h2>

        <div class="large text-muted">
          {{ site.data.sitetext[page.locale].membership.cooperative.description
          }}
        </div>
      </div>
    </div>
  </div>
</section>
