<!-- Membership -->
<section
  class="page-section"
  id="{{ site.data.sitetext[page.locale].membership.section | default: 'membership' }}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase" style="margin-top: 5%">
          {{ site.data.sitetext[page.locale].membership.title | markdownify }}
        </h2>
        <div class="large text-muted">
          {{ site.data.sitetext[page.locale].membership.receiveMembership }}
        </div>

        <h2 class="section-heading text-uppercase" style="margin-top: 5%">
          {{ site.data.sitetext[page.locale].membership.cooperative.title |
          markdownify }}
        </h2>

        <div class="large text-muted">
          {{ site.data.sitetext[page.locale].membership.cooperative.description
          }}
        </div>
        <a href="https://www.ecosia.de" target="_blank"
          >{{ site.data.sitetext[page.locale].membership.cooperative.consitution
          }}</a
        >
      </div>
    </div>
  </div>
</section>
