#slideshow {
  max-height: 80vh;
  overflow: hidden;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  max-width: 100%;
  max-height: 40vh !important;
  display: block !important;
  margin: auto;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}

.highlight {
  background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=ffff43);
}
